body.overlayed {
  overflow: hidden;
}

.video-overlay {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: $body-bg;
  top: 0;
  left: 0;

  .videogular-container {
    position: relative;
    height: 90%;
    margin: $line-height-computed auto;
  }

  .close {
    position: absolute;
    z-index: 900;
    top: .25em;
    right: .5em;
    width: 1em;
    height: 1em;
    background: $body-bg;
    border-radius: $thumbnail-border-radius;
    font-size: 4em;
    line-height: 1em;
  }
}
