<div class="thumbnail">
  <a class="img-thumb" ng-click="mother.main.player.play(card.photo)" href="#/">
    <img class="img-responsive" alt="{{ card.photo.description.text }}" ng-src="{{ card.photo.thumbs.thumb_limit_640 }}">
  </a>
  <div class="caption">
    <h4>{{ card.photo.description.text }} <span class="badge">{{ card.photo.meta_information.rating_avg }}</span></h4>
    <p class="tags clearfix"><span class="label label-default" ng-repeat="tag in card.photo.description.tags">{{ tag }}</span></p>
  </div>
</div>
