<div class="container-fluid" ng-controller="MainCtrl as main">
  <div class="video-overlay" ng-show="main.player.visible" ng-click="main.player.stop()">
    <div class="container videogular-container">
      <videogular vg-theme="main.player.config.theme.url" vg-player-ready="main.player.onPlayerReady($API)">
        <vg-media vg-src="main.player.config.sources"
                  vg-tracks="main.player.config.tracks"
                  vg-native-controls="true">
        </vg-media>
      </videogular>
    </div>
  </div>

  <div class="row" ng-hide="main.player.visible">
    <div class="feed clearfix" infinite-scroll="main.feed.nextPage()" infinite-scroll-disabled="feed.busy">
      <div class="deckgrid" deckgrid source="main.feed.items" cardTemplate="views/feed-item.html"></div>
    </div>
  </div>
</div>
