<div class="container-fluid">
  <div class="video-overlay" ng-show="main.player.visible" ng-click="main.player.close()">
    <div class="container videogular-container">
      <videogular vg-theme="main.player.config.theme.url" vg-player-ready="main.player.onPlayerReady($API)">
        <vg-media vg-src="main.player.config.sources"
                  vg-tracks="main.player.config.tracks"
                  vg-native-controls="true">
        </vg-media>
      </videogular>
      <button type="button" class="close" aria-label="Close" ng-click="main.player.close()"><span aria-hidden="true">&times;</span></button>
    </div>
  </div>

  <div class="row">
    <div class="feed" infinite-scroll="main.feed.next()" infinite-scroll-disabled="feed.busy">
      <div class="deckgrid clearfix" deckgrid source="main.feed.items" cardTemplate="views/feed-item.html"></div>
    </div>
  </div>
</div>

<div class="footer" ng-show="main.feed.busy">
  <div class="container">
    <p class="text-center"><span class="glyphicon glyphicon-refresh"></span> loading</p>
  </div>
</div>